

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap");

html {
  font-family: "Nunito", sans-serif;
  background-color: #F9F9F9
}
a {
  text-decoration: none;
  color: #464646;
  margin: 0 0.5rem;
}
a:hover {
  opacity: 0.5;
}
.a {
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
  border: 1px solid #293dcb;
  border-radius: 50%;
  width: 2rem;
  background-color: #293dcb;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 4rem;
  align-items: center;
  width: 85vw;
  margin: 0 auto;
  background-color: white;
}
.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
 
  width: 85vw;
  margin:  0 auto;
  background-color: white;
}
.hero-1 {
  margin-top: 9rem;
}
.hero-t {
  font-size: 3rem;
}
.abbr-1 {
  text-decoration: underline;
  text-decoration-color: #a9b1ea;
  text-decoration-thickness: 1rem;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  margin: 0 0 auto;
}
.hero-st {
  margin: 1rem 0;
  font-weight: 600;
}
.hola{
  font-weight: 500;
  
}

.diegoalcielo {
  display: flex;
  justify-content: center;
  align-items: center;
 margin:  auto;
  width: 85vw;
  background-color: white;

}
.cielo {
  display: column;
  padding: 0 3rem;
}
.cielo-img {
  border: 1rem solid #a9b1ea;
}
.cielo-t {
  font-weight: 600;
  margin-right: 17rem;
}
.cielo-p {
  width: 25rem;
  text-align: justify;
  color: #a7a3a2;
}

.designer {
  color: #293dcb;
  text-decoration: none;
}
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 padding-top: 4rem;
 background-color: white;
 width: 85vw;
 margin: 0 auto;
}
.skills-tit {
  font-size: 2rem;
  font-weight: 600;
}
.skills-p {
  width: 35rem;
  color: #a7a3a2;
}
.abbr-2 {
  color: #293dcb;
  text-decoration: none;
}
.progreso-1 {
  display: flex;
}
.barras {
  display: flex;
  flex-direction: column;
  width: 28rem;
  text-align: left;
 
}
.barra-1 {
  display: flex;
  flex-direction: column;
  width: 28rem;
  padding-top: 1.5rem;
  text-align: left;
}
.progreso {
  width: 25rem;
}

.lang {
  display: flex;
  justify-content: space-between;
  color: #a7a3a2;
}

.lang-2{
  margin-left: 16rem;
}
.lang-3{
  margin-left: 17rem;
}
.lang-4{
  margin-left: 16rem;
}
.lang-5{
  margin-left: 14rem;
}
.lang-6{
  margin-left: 17rem;
}
.lang-7{
  margin-left: 14.5rem;
}
.lang-8{
  margin-left: 14.5rem;
}
.lang-9{
  margin-left: 18rem;
}
.especial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 85vw;
  background-color: white;
  padding-top: 4rem;
}
.especial-cartas {
  display: flex;
  flex-direction: column;
  margin-left: 12rem;

 
}
.cartas-1 {
  display: flex;
  justify-content: center;
}

.especial-t {
  font-size: 2rem;
  text-align:left;
}
.especial-p {
  text-align: left;
  color:  #a7a3a2;
  width: 40rem;
  margin-bottom: 3rem;
  
}
.abbr-sp {
  color: #293dcb;
  text-decoration: none;
}
.cartas-sp {
  border: 1px solid #293dcb;
  padding: 1rem;
  margin: 0 1rem;
  width: 16rem;
  height: 12rem;
  background-color: #293dcb;
  border-radius: 10px;
  transition: transform 0.2s;
}
.cartas-sp:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 0.8;
}
.cartas-1 p {
  width: 14rem;
  text-align: justify;
  margin-top: 1rem;
  font-size: 0.9rem;
}
.cartas-sp h3,
h6 {
  text-align: left;
  color: white;
}
.cartas-t {
  color: white;
}

.servicios {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  text-align: center;
  background-color: white;
  width: 85vw;
  margin: 0 auto;
}
.serv- {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartas-servicios {
  display: grid;
  grid-template-columns: repeat(3, 18.75rem);
  align-items: center;
  width: 80vw;
  justify-content: center;
  padding: 1rem 2rem;
}
.cartas-servicios p {
  color: #a7a3a2;
}

.cartas10 {
  text-align: justify;
  margin: 0 1rem;
}
.cartas10:hover{
  cursor: pointer;
  transform: scale(1.1);
  border: 1px solid #a7a3a2;
  border-radius: 25%;
  overflow: hidden;
  padding: 1rem;
  box-shadow: 1px -1px #a7a3a2;

}
.cartas10 p{
  text-align: justify;
}


.servicios-tit {
  font-size: 2rem;
}
.abbr-serv {
  color: #293dcb;
  text-decoration: none;
}
.servicios-p {
  width: 30rem;
  color: #a7a3a2;
}
/* Portfolio */
.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  width: 85vw;
  margin: 0 auto;
  background-color: white;
}

.port-img {
  display: grid;
  grid-template-columns: repeat(3, 24rem);
  justify-content: center;
  object-fit: cover;
  gap: 1rem;
  width: 50%;
  height: 62rem;
}

.feel {
  position: relative;
  top: -12.3rem;
 
}
.feel:hover{
  cursor: pointer;
 
  opacity: 0.5;
 

}

.foto-5:hover{
  cursor: pointer;
 
  opacity: 0.5;
  
  
}

.portfolio,
h2,
p {
  text-align: center;
}
.port-tit {
  font-size: 2rem;
}
.abbr-port {
  color: #293dcb;
  text-decoration: none;
}
.port-p {
  margin-bottom: 2rem;
}
.more-case {
  border-bottom: 12px solid #a9b1ea;
  height: 1rem;
}
.more-case:hover{
  cursor: pointer;
  opacity: 0.5;
}

/* Fin portfolio */

/* .client {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 4rem;
  width: 100vw;
}

.client .caras {
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-h{
    font-size: 2rem;
}
.abbr-client{
    color: #293dcb;
    text-decoration: none;
}
.client-p{
    width: 35rem;
    
}
.caras-cli1,.caras-cli2{
    width: 20rem;
    border: 1px solid #464646;
    margin: 1rem;
    text-align: justify;
}
.div-cli{
    display: flex;
}

.cli-img{
    border-radius: 50%;
    width: 4rem;
    margin-left: 1.5rem;
}
.cli-p{
    margin: 2.5rem ;
}


.post {
  display: flex;
  flex-direction: column;
 align-items: start;
  width: 100%;
  padding: 4rem;
}
.div-post{
    display: flex;
    flex-direction: column;
    width: 100vw;
    
    
}
.abbr-post{
    color: #293dcb;
    text-decoration: none;
}
.post-h{
    font-size: 2rem;

    
}
.post-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.post-mini{
    width: 20%;
    margin: 1rem;
    border: 1px solid #464646;
    width: 12.5rem; */
/* } */
.dropline  {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  width: 85vw;
  margin: 0 auto;
  background-color: white;
  
}
.drop{
  width: 40vw;
}
.drop-h{
  text-align: left;
}
.input-line {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 6rem;
  
}

.input-drop{
  border: none;
  border-bottom: 1px solid #464646;
  margin: 1rem;
  padding: 1rem;
}

.btn-enviar{
  margin: 1rem 0.1rem;
  width: 9rem;
  height: 3rem;
  background-color: #293dcb;
  color: white;
  border: none;
  transition: transform .2s;
}
.btn-enviar:hover{
  cursor: pointer;
  background-color: white;
  color: #293dcb;
  border: 1px solid black;
  transform: scale(1.1);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:black;
  height: 18rem;
  
}
.footer-p{
  display: flex;
  color: white;
    font-weight: 600;
    font-size: 1.6rem;
    width: 3rem;  
    height: 3rem;
    border-radius: 50%;
    background-color: #293dcb;
    align-items: center;
    justify-content: center;
    
  }
  .foot{
    margin: 1rem;
  }
  .fb{
    height: 0.8rem;
  }
  .twitter{
    height: 0.8rem;
  }
  .youtube{
    height: 1.2rem;
    position: relative;
    top: 0.2rem;
  }
  .in{
    height: 1.5rem;
    position: relative;
    top: 0.4rem;
  }
  .redes{
    margin-left: 1rem;
  }
  .copy{
    color: aliceblue;
  }





@media screen and (min-width:1024px){
   
}


@media screen and (min-width:768px) and (max-width:1023px){
    body{
        background-color: blue;
    }
}


@media screen and (max-width:767px){
body{
    background-color: green;
}
}